.Posts {
  
}

.Posts-title {
  // background: linear-gradient(to bottom, $Secondary 0%,$Secondary-dark 100%);
  // border-bottom: 2px solid $Secondary-dark;
  // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
  // color: #FAFAFA;
  // font-size: 20px;
  // font-weight: 300;
  line-height: 1;
  margin: 0 0 20px 0;
  padding: 10px;
}

.Post,
.Tweet-more {
  @include clearFix;
  background: $White;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.29);
  margin-top: 40px;
  position: relative;

  &:first-child {
    margin-top: 0;
  }
}

$Post-icon--size: 40px;
$Icon--spacing: 20px;
$Icon--size: $Post-icon--size - $Icon--spacing;

.Post-icon {
  background: $Primary;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  height: $Post-icon--size;
  padding-top: $Icon--spacing / 2;
  position: absolute;
  right: 10px;
  text-align: center;
  top: -($Post-icon--size / 2);
  width: $Post-icon--size;
}

.Icon {
  display: inline-block;
  height: $Icon--size;
  width: auto;

  path {
    fill: $White;
  }
}

$Tweet-userImage--size: 50px;
$Tweet-userImageLink--margin: 10px;
$Tweet-userImageLink--marginTop: 20px;

.Tweet + .Tweet,
.Tweet-more {
  border-top: 1px solid $Gray-light;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;

  .Post-icon {
    display: none;
  }
}

.Tweet-more {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
  padding: 10px;
  text-align: center;
}

$Tweet-moreButton--size: 40px;

.Tweet-moreButton {
  border-radius: 50%;
  border: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
  display: block;
  height: $Tweet-moreButton--size;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  width: $Tweet-moreButton--size;
}

.Tweet-moreText {
  display: block;
  margin-top: 5px;
}

.Tweet-userImageLink {
  display: block;
  left: $Tweet-userImageLink--margin;
  position: absolute;
  top: $Tweet-userImageLink--marginTop;
} 

.Tweet-userImage {
  display: block;
  height: $Tweet-userImage--size;
  width: $Tweet-userImage--size;
}

.Tweet-content {
  margin-bottom: $Tweet-userImageLink--marginTop;
  margin-left: $Tweet-userImage--size + ($Tweet-userImageLink--margin * 2);
  margin-right: 10px;
  margin-top: $Tweet-userImageLink--marginTop;
}

.Tweet-header {
  line-height: 1;
  margin-bottom: 10px;
  margin-right: 50px;
}

.Tweet-username {
  color: $Black;
  font-weight: 600;
  text-decoration: none;
}

$Tweet-screenname--fontSize: 13px;

.Tweet-screenname {
  color: $Gray-dark;
  text-decoration: none;
  font-size: $Tweet-screenname--fontSize;
}

.Tweet-date {
  color: $Gray-dark;
  font-size: $Tweet-screenname--fontSize;
}

.Tweet-tweet {
  font-size: 20px;

  a {
    text-decoration: none;
  }

  &.Tweet-short {
    font-size: 24px;
  }

  &.Tweet-medium {
    font-size: 20px;
  }

  &.Tweet-long {
    font-size: 16px;
  }
}

.Tweet-imageLink {
  display: block;
  margin-top: 20px;
}

.Tweet-image {
  display: block;
  max-width: 100%;
  height: auto;
}
