$MenuIcon--width: 25px;
$MenuIcon--height: 20px;
$MenuIcon-line--height: round($MenuIcon--height / 10);
$SiteNavigation-header--darkBlue: $Primary-darker;

.SiteNavigation-topLevel,
.SiteNavigation-menu,
.SiteNavigation-subMenu,
.SiteNavigation-socialMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

// .SiteNavigation-menu,
.SiteNavigation-subMenu,
.SiteNavigation-socialMenu {
  display: none;
}

.SiteNavigation {
  background: $SiteNavigation-header--darkBlue;
  color: $White;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.SiteNavigation,
.SiteNavigation-heading {
  &:after {
    background: darken($Primary-darker, 8%);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .5s ease-in-out;

    .u-menuActive & {
      opacity: 1;
    }
  }
}

.SiteNavigation-menuItem {
  border-bottom: 1px solid $Primary-darker;
  margin: 10px 0;
  padding-bottom: 5px;
  position: relative;
  z-index: 9;

  &:first-child {
    margin-top: 0;
  }

  a {
    color: $White;
    font-weight: 300;
    text-decoration: none;
  }
}

.SiteNavigation-topLevel,
.SiteNavigation-menu {
  position: relative;
  z-index: 9;
}

.SiteNavigation-heading {
  background: linear-gradient(to bottom, $Primary 0%, $Primary-darker 100%);
  border-bottom: 2px solid #263238;
  box-shadow: 0 0 4px #6b6a6a;
}

.SiteNavigation-menu {
  display: none;
  height: 100vh;
  padding: 10px 50px;
  font-size: 20px;
}

.SiteLogo-image {
  display: none;
  max-width: 50px;
}

.SiteTitle {
  display: block;
  position: relative;
  text-align: center;
  z-index: 2;
}

.SiteTitle-text {
  display: none;
}

$MenuIcon-extraWidth: 4px;
$MenuIcon-left: 10px;

.MenuIcon {
  display: block;
  height: $MenuIcon--height;
  left: $MenuIcon-left;
  position: absolute;
  top: 10px;
  width: $MenuIcon--width;
  z-index: 9;
}

.MenuIcon-label {
  display: none;
}

.MenuIcon-line {
  background-color: #c7d6e8;
  border-radius: $MenuIcon-line--height;
  height: $MenuIcon-line--height;
  left: 0;
  position: absolute;
  right: 0;
}

.MenuIcon-topLine {
  top: 0;
}

.MenuIcon-middleLine {
  top: ($MenuIcon--height - $MenuIcon-line--height) / 2;
}

.MenuIcon-bottomLine {
  top: $MenuIcon--height - $MenuIcon-line--height;
}

.socialMenuIcon-label {
  display: none;
}

.socialMenuIcon {
  position: absolute;
  right: 10px;
  top: 7px;
}

.socialMenuIcon-image {
  height: $MenuIcon--height;
}

.Logo {
  display: inline-block;
  height: 30px;
  line-height: 1;
  margin-top: 7px;
  width: auto;
}

.SocialIcons {
  display: block;
  height: 30px;
  width: auto;
}

.Logo,
.SocialIcons {
  path {
    fill: #FAFAFA;
  }
}

.SocialIcons {
  path {
    opacity: 0.9;
  }
}