.Featured {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
  height: 350px;
  position: relative;
  background: $White;
}

.Featured-title {
  display: none;
}

.Featured-nav {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

.Featured-navList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Featured-navListLabel {
  display: none;
}

.Featured-navListItem {
  display: inline-block;
  margin: 0 5px;
}

$Featured-navListLink--size: 12px;

.Featured-navListLink {
  background: $White;
  border-radius: 50%;
  box-shadow: 0 0 2px #585858;
  display: block;
  height: $Featured-navListLink--size;
  width: $Featured-navListLink--size;
}
