$Primary-dark: #00838F;
$Primary-darker: #006064;
$Primary-darkest: #000000;
$Primary: #0097A7;
$Primary-light: #80DEEA;
$Primary-lighter: #B2EBF2;
$Primary-lightest: #E0F7FA;

// $Primary-dark: #303F9F;
// $Primary-darker: #283593;
// $Primary-darkest: #1A237E;
// $Primary: #3F51B5;
// $Primary-light: #80DEEA;
// $Primary-lighter: #B2EBF2;
// $Primary-lightest: #E0F7FA;

$Secondary-dark: #455A64;
$Secondary-darker: #37474F;
$Secondary-darkest: #263238;
$Secondary: #607D8B;
$Secondary-light: #B0BEC5;
$Secondary-lighter: #CFD8DC;
$Secondary-lightest: #ECEFF1;



$White: #FAFAFA;
$Gray-lightest: #F5F5F5;
$Gray-lighter: #EEEEEE;
$Gray-light: #E0E0E0;
$Gray: #9E9E9E;
$Gray-dark: #757575;
$Gray-darker: #616161;
$Gray-darkest: #424242;
$Black: #000000;
