<nav id="SiteNavigation" class="SiteNavigation">
  <ul class="SiteNavigation-topLevel">
    <li class="SiteNavigation-heading">
      <a class="SiteLogo"><img class="SiteLogo-image" src="http://judierosen.com/wp-content/themes/judie-rosen/images/profile.png"></a>
      <a class="SiteTitle"><h1 class="SiteTitle-text">Charlie Jackson</h1></a>
    </li>
    <li>
      <a id="MenuIcon" class="MenuIcon">
        <span class="MenuIcon-label">Menu</span>
        <div id="MenuIcon-topLine" class="MenuIcon-topLine MenuIcon-line"></div>
        <div id="MenuIcon-middleLine" class="MenuIcon-middleLine MenuIcon-line"></div>
        <div id="MenuIcon-bottomLine" class="MenuIcon-bottomLine MenuIcon-line"></div>
      </a>
      <ul class="SiteNavigation-menu">
        <li><a>Projects</a></li>
        <li><a>Articles</a></li>
        <li><a>Thoughts</a></li>
        <li>
          <a>Categories</a>
          <ul class="SiteNavigation-subMenu">
            <li><a>Technology</a></li>
            <li><a>Design</a></li>
            <li><a>Smart home</a></li>
            <li><a>Internet of things</a></li>
            <li><a>Entrepreneurship</a></li>
          </ul>
        </li>
        <li>
          <a>Filter by</a>
          <ul class="SiteNavigation-subMenu">
            <li><a>Links</a></li>
            <li><a>Images</a></li>
            <li><a>Sketchwork</a></li>
            <li><a>Videos</a></li>
            <li><a>Twitter</a></li>
            <li><a>Instagram</a></li>
            <li><a>Snapchat</a></li>
            <li><a>Github</a></li>
            <li><a>Facebook</a></li>
            <li><a>Youtube</a></li>
            <li><a>Pinterest</a></li>
          </ul>
        </li>
        <li><a>Search</a></li>
      </ul>
    </li> 
    <li>
      <a id="socialMenuIcon" class="socialMenuIcon">
        <span class="socialMenuIcon-label">Follow me on...</span>
        <img class="socialMenuIcon-image" src="http://cassiehicks.com/wp-content/uploads/2012/03/icon-social.png">
      </a>
      <ul class="SiteNavigation-socialMenu">
        <li><a>Twitter</a></li>
        <li><a>Instagram</a></li>
        <li><a>Snapchat</a></li>
        <li><a>Github</a></li>
        <li><a>Stackoverflow</a></li>
        <li><a>Facebook</a></li>
        <li><a>Youtube</a></li>
        <li><a>Pinterest</a></li>
        <li><a>Email newsletter</a></li>
      </ul>
    </li>
  </ul>
</nav>