{% include 'sublayouts/header.twig' %}

<section class="Featured">
  <h2 class="Featured-title">Featured articles</h2>
  <div>
    <article>
    </article>
  </div>

  <nav class="Featured-nav">
    <ul class="Featured-navList">
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
    </ul>
  </nav>
</section>

<section class="Newsletter">
  <h2 class="Newsletter-title">Join my email newsletter</h2>

  <form class="Newsletter-form">
    <label class="Newsletter-label">Email</label>
    <input class="Newsletter-input" type="email">
    <button class="Newsletter-button">Submit</button>
  </form>
</section>

<section class="Summary">
  <a class="Summary-titleLink">
    <h2 class="Summary-titleText">I am currently...</h2>
  </a>

  <ul class="Summary-list">
    <li class="Summary-listItem">Lorem <a>ipsum dolor sit</a> amet, consectetur adipiscing.</li>
    <li class="Summary-listItem">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
    <li class="Summary-listItem">Duis aute irure dolor in reprehenderit in voluptate.</li>
    <li class="Summary-listItem">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. </li>
    <li class="Summary-listItem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</li>
    <li class="Summary-listItem">Duis aute irure dolor in reprehenderit in.</li>
  </ul>
</section>

<section class="Posts">
  <h2 class="Posts-title">Posts</h2>

  <div>
    <article>
      <h3>
    </article>
  </div>

  <nav>
    <ul>
      <li><a>Prev</a></li>
      <li>Page 1 of 100</li>
      <li><a>Next</a></li>
    </ul>
  </nav>
</section>

{% include 'sublayouts/footer.twig' %}