@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/Source-Sans-Pro-900/Source-Sans-Pro-900.eot');
  src: url('/fonts/Source-Sans-Pro-900/Source-Sans-Pro-900.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Source-Sans-Pro-900/Source-Sans-Pro-900.woff2') format('woff2'),
       url('/fonts/Source-Sans-Pro-900/Source-Sans-Pro-900.woff') format('woff'),
       url('/fonts/Source-Sans-Pro-900/Source-Sans-Pro-900.ttf') format('truetype'),
       url('/fonts/Source-Sans-Pro-900/Source-Sans-Pro-900.svg#SourceSansPro') format('svg');
}