@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/Source-Sans-Pro-200/Source-Sans-Pro-200.eot');
  src: url('/fonts/Source-Sans-Pro-200/Source-Sans-Pro-200.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Source-Sans-Pro-200/Source-Sans-Pro-200.woff2') format('woff2'),
       url('/fonts/Source-Sans-Pro-200/Source-Sans-Pro-200.woff') format('woff'),
       url('/fonts/Source-Sans-Pro-200/Source-Sans-Pro-200.ttf') format('truetype'),
       url('/fonts/Source-Sans-Pro-200/Source-Sans-Pro-200.svg#SourceSansPro') format('svg');
}
