<section class="Featured">
  <h2 class="Featured-title">Featured articles</h2>
  <div>
    <article>
    </article>
  </div>

  <nav class="Featured-nav">
    <ul class="Featured-navList">
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
      <li class="Featured-navListItem"><a class="Featured-navListLink"><span class="Featured-navListLabel">1st item</span></a></li>
    </ul>
  </nav>
</section>