<section class="Newsletter">
  <h2 class="Newsletter-title">Join my email newsletter</h2>

  <form class="Newsletter-form">
    <label class="Newsletter-label">Email</label>
    <input class="Newsletter-input" type="email">
    <button class="Newsletter-button">Submit</button>
  </form>
</section>