<section class="Summary">
  <a class="Summary-titleLink">
    <h2 class="Summary-titleText">I am currently...</h2>
  </a>

  <ul class="Summary-list">
    <li class="Summary-listItem">Lorem <a>ipsum dolor sit</a> amet, consectetur adipiscing.</li>
    <li class="Summary-listItem">Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
    <li class="Summary-listItem">Duis aute irure dolor in reprehenderit in voluptate.</li>
    <li class="Summary-listItem">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. </li>
    <li class="Summary-listItem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</li>
    <li class="Summary-listItem">Duis aute irure dolor in reprehenderit in.</li>
  </ul>
</section>